*{
        margin: 0px;
        padding: 0px;
}
html,body{
        height: 100%;
}
h4{
        margin: 0px 0px;
}
body{
        background: #ffffff;
        color: #111111;
        text-align: center;
         background-image:
        linear-gradient(rgba(232, 227, 227, 0.842), rgba(255, 255, 255, 0.781)),
         url("back2.jpeg");
         background-size: cover;
         background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
.container{
         height: 70vh;   /* 70 percent hissa page ka allocate rhga hmesha container ko chaaye kitna bhi page ka size kamm krdo */
         justify-content: center;
         align-items: center;
         display: flex;
        
}
.game{
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5vmin;
}
.box{
        height: 18vmin;
        border-radius: 16px;
        width: 18vmin;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 10px);
        font-size: 15vmin;
        color: #ffffff;
        background:  lightblue;
        border: none;
}
.box:hover{
        color: #00c2cc;
        background-color: #254eb2;
}
.resetbtn{
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #191913;
        color: white;
        border-radius: 1rem;
        cursor: pointer;
        margin-top: 2px;
        margin-bottom: 5px;
}
.resetbtn:hover{
        text-decoration: underline;
        background-color: white;
        color: black;
        transition-delay: 20ms;
        
}
#new-btn{
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 8px 12px;
        cursor: pointer;
        transition-delay: 0s;

}
#new-btn:hover{
        background-color: white;
        color: black;
        transition-delay: 60ms;
        text-decoration: underline;
        border-color: green;
}
.msg{
        color: red;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bolder;
        font-size: 10vmin;
}
.div-container{
        height: 90vmin;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        font-size: 10vmin;
        margin-bottom: 70px;
}
.hide{
        display: none;
}
.tagline{
        color: azure;
        font-size: 20px;
        color: black;
}
.mode{
        padding: 10px 10px;
        font-size: 1.25rem;
        background-color: red;
        color: white;
        border-radius: 1rem;
        cursor: pointer;
        margin-bottom: 5px;
        margin-left: 50px;
        height: 70px;
        border: none;
}
.mode:hover{
        background-color: black;
        color: red;
        text-decoration: none;
}
